@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  padding-top: 5rem;
}




.container{
  width:700px;
  margin: 0 auto;
  text-align: center;
}




.input-block{
  margin-bottom: 40px;
}



.item-text-input{
  display: block;
  margin:0 auto;
  margin-bottom: 16px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 20px;
}



.item__text{
  margin-top: 12px;
}



.item__delete-btn{
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 25px;
  color: red;
  cursor: pointer;
}



.item-create-btn{
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}


.item-create-btn-color{
  background-color: #209cff;
  color: white;
}


.column-container {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  position: relative;
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  margin-bottom: 10px;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 100vh;
  padding-top: 16px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 100%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  opacity: 0.4;
  animation: pulsing 3s infinite; 
}
@keyframes pulsing {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
.hide {
  display: none;
}
.hovered {
  background-color: rgb(236, 244, 252);
}

.in-process {
  background-color: #F9F451;
}
.finished {
  background-color: #63F951;
}